@{
    ViewBag.Title = "Technologies";
}
<div class="bs-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="row-fluid">
    <br/>
    <div class="bs-docs-section">
        <div class="span4">
            Development environment:
            <ul>
                <li>Visual Studio 2013 Preview</li>
                <li>SQL server 2012 management tool</li>
            </ul>
        </div>
        <div class="span4">
            Database:
            <ul>
                <li>SQL server 2012</li>
                <li>Redis (using pub/sub pattern for broadcasting a message)</li>
            </ul>
        </div>
        <div class="span4">
            Back-end:
            <ul>
                <li>Entity framework 6.0</li>
                <li>Sharp lite</li>
            </ul>
        </div>
        <div class="span4">
            Front-end:
            <ul>
                <li>The ASP.NET MVC 5</li>
                <li>The ASP.NET Web API</li>
                <li>SignalR</li>
                <li>Angularjs</li>
            </ul>
        </div>
    </div>
</div>