@{
    ViewBag.Title = "Contact";
}

<div class="bs-header">
    <h1>@ViewBag.Title</h1>
</div>

<br />
<div class="bs-docs-section">
    <address>
        <i class="ui-icon-contact"></i><strong>Blog: </strong><a href="http://weblogs.asp.net/thangchung">Context is King</a><br />
        <i class="ui-icon-contact"></i><strong>Email: </strong><a href="mailto:thangchung@ymail.com">thangchung@ymail.com</a><br />
    </address>
</div>