<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-bookmark"></i>
                <a href="#">Admin page</a>
            </li>
            <li class="active">
                Item page
            </li>
            <li class="search-box">
                <form class="sidebar-search">
                    <div class="form-group">
                        <input type="text" placeholder="Start Searching..." data-default="130" style="display: inline-block; width: 130px;">
                        <button class="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
        </ol>
        <div class="page-header">
            <h1>Item Sumary</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-purple">
            <div class="panel-heading">
                <h3 class="panel-title">{{ appTitle }}</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>