
body {
    padding-top: 50px;
    position: relative;
}
.btn-bs {
    background-color: #FFFFFF;
    border-color: #E5E5E5;
    color: #563D7C;
}
.btn-bs:hover, .btn-bs:focus, .btn-bs:active {
    background-color: #563D7C;
    border-color: #563D7C;
    color: #FFFFFF;
}
.btn-outline {
    background-color: transparent;
    border-color: #CDBFE3;
    color: #FFFFFF;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #563D7C;
}
.bs-customize-placeholder {
    background-color: #F5F5F5;
    margin-bottom: -100px;
    padding: 80px 30px;
    text-align: center;
}
.bs-docs-nav {
    background-color: #563D7C;
}
.bs-docs-nav .navbar-brand {
    color: #FFFFFF;
}
.bs-docs-nav .navbar-nav > li > a {
    color: #CDBFE3;
}
.bs-docs-nav .navbar-nav > li > a:hover {
    color: #FFFFFF;
}
.bs-docs-nav .navbar-nav > .active > a, .bs-docs-nav .navbar-nav > .active > a:hover {
    background-color: #463265;
    color: #FFFFFF;
}
.bs-docs-nav .navbar-toggle {
    border-color: #563D7C;
}
.bs-docs-nav .navbar-toggle:hover {
    background-color: #463265;
    border-color: #463265;
}
.bs-old-docs {
    background-color: #FAFAFA;
    border-bottom: 1px solid #E5E5E5;
    color: #777777;
    padding: 15px 20px;
}
.bs-old-docs strong {
    color: #555555;
}
.bs-docs-home .bs-old-docs {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}
.bs-docs-home .bs-old-docs a {
    color: #FFFFFF;
}
.bs-docs-home {
    background-color: #563D7C;
    color: #CDBFE3;
}
.bs-masthead {
    padding: 30px 15px;
    position: relative;
    text-align: center;
}
.bs-masthead h1 {
    color: #FFFFFF;
    font-size: 50px;
    line-height: 1;
}
.bs-masthead .btn-outline {
    font-size: 21px;
    margin-bottom: 5px;
    margin-top: 20px;
    padding: 18px 24px;
}
.bs-social {
    margin-top: 30px;
    text-align: center;
}
.bs-masthead-links {
    list-style: none outside none;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
}
.bs-masthead-links li {
    color: #999999;
    display: inline;
}
.bs-masthead-links li + li {
    margin-left: 20px;
}
.bs-masthead-links a {
    color: #FFFFFF;
}
.bs-customizer .toggle {
    float: right;
}
.bs-customizer label {
    color: #444444;
    font-weight: 500;
    margin-top: 10px;
}
.bs-customizer h2 {
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 30px;
}
.bs-customizer h4 {
    margin-top: 15px;
}
.bs-customizer input[type="text"] {
    background-color: #FAFAFA;
}
.bs-customizer .help-block {
    font-size: 12px;
}
.bs-customize-download {
    text-align: center;
}
.bs-header {
    border-bottom: 1px solid #E5E5E5;
    color: #5A5A5A;
    font-size: 16px;
    padding: 30px 30px 40px;
    text-align: center;
}
.bs-header h1 {
    color: #563D7C;
}
.bs-header p {
    font-weight: 300;
    line-height: 1.5;
}
.bs-header .container {
    position: relative;
}
.bs-docs-section + .bs-docs-section {
    margin-top: 80px;
}
.carbonad {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none repeat scroll 0 0 transparent !important;
    border-color: #E5E5E5 -moz-use-text-color -moz-use-text-color !important;
    border-image: none !important;
    border-right: 0 none !important;
    border-style: solid none none !important;
    border-width: 1px 0 0 !important;
    font-size: 13px !important;
    height: auto !important;
    line-height: 16px !important;
    margin: 50px -30px -40px !important;
    overflow: hidden;
    padding: 20px !important;
    text-align: left;
    width: auto !important;
}
.carbonad-img {
    margin: 0 !important;
}
.carbonad-text, .carbonad-tag {
    display: block !important;
    float: none !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    height: auto !important;
    margin-left: 145px !important;
    width: auto !important;
}
.carbonad-text {
    padding-top: 0 !important;
}
.carbonad-tag {
    text-align: left !important;
}
.carbonad #azcarbon > img {
    display: none;
}
.bs-sidebar.affix {
    position: static;
}
.bs-sidenav {
    background-color: #F7F5FA;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.bs-sidebar .nav > li > a {
    color: #716B7A;
    display: block;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus {
    background-color: #E5E3E9;
    border-right: 1px solid #DBD8E0;
    text-decoration: none;
}
.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
    background-color: transparent;
    border-right: 1px solid #563D7C;
    color: #563D7C;
    font-weight: bold;
}
.bs-sidebar .nav .nav {
    display: none;
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    font-size: 90%;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-top: 3px;
}
.bs-callout {
    border-left: 5px solid #EEEEEE;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code, .bs-callout .highlight {
    background-color: #FFFFFF;
}
.bs-callout-danger {
    background-color: #FCF2F2;
    border-color: #DFB5B4;
}
.bs-callout-warning {
    background-color: #FEFBED;
    border-color: #F1E7BC;
}
.bs-callout-info {
    background-color: #F0F7FD;
    border-color: #D0E3F0;
}
.show-grid {
    margin-bottom: 15px;
}
.show-grid [class^="col-"] {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
}
.bs-example {
    background-color: #FAFAFA;
    border-color: #E5E5E5 #EEEEEE #EEEEEE;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    margin: 0 -15px -1px;
    padding: 45px 15px 15px;
    position: relative;
}
.bs-example:after {
    color: #BBBBBB;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}
.bs-example + .prettyprint, .bs-example + .highlight {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}
.bs-example > p:last-child, .bs-example > ul:last-child, .bs-example > ol:last-child, .bs-example > blockquote:last-child, .bs-example > input:last-child, .bs-example > select:last-child, .bs-example > textarea:last-child, .bs-example > .table:last-child, .bs-example > .navbar:last-child .bs-example > .jumbotron:last-child, .bs-example > .alert:last-child, .bs-example > .panel:last-child, .bs-example > .list-group:last-child, .bs-example > .well:last-child {
    margin-bottom: 0;
}
.bs-example > p > .close {
    float: none;
}
.bs-example-type .table td {
    color: #999999;
    vertical-align: middle;
}
.bs-example-type .table td, .bs-example-type .table th {
    border-color: #EEEEEE;
    padding: 15px 0;
}
.bs-example-type .table tr:first-child td, .bs-example-type .table tr:first-child th {
    border-top: 0 none;
}
.bs-example-type h1, .bs-example-type h2, .bs-example-type h3, .bs-example-type h4, .bs-example-type h5, .bs-example-type h6 {
    margin: 0;
}
.bs-example.form-inline select, .bs-example.form-inline input[type="text"], .bs-example.form-inline input[type="password"] {
    width: 180px;
}
.bs-example-control-sizing select, .bs-example-control-sizing input[type="text"] + input[type="text"] {
    margin-top: 10px;
}
.bs-example-form .input-group {
    margin-bottom: 10px;
}
.bs-example > .list-group {
    max-width: 400px;
}
.bs-example .navbar:last-child {
    margin-bottom: 0;
}
.bs-navbar-top-example, .bs-navbar-bottom-example {
    min-height: 110px;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}
.bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom {
    margin-left: 0;
    margin-right: 0;
    position: relative;
}
.bs-navbar-top-example .navbar-fixed-top {
    top: -1px;
}
.bs-navbar-bottom-example .navbar-fixed-bottom {
    bottom: -1px;
}
.bs-navbar-top-example {
    border-radius: 0 0 4px 4px;
}
.bs-navbar-top-example:after {
    border-radius: 0 4px 0 4px;
    bottom: 15px;
    top: auto;
}
.bs-navbar-bottom-example {
    border-radius: 4px 4px 0 0;
}
.bs-navbar-bottom-example .navbar {
    margin-bottom: 0;
}
.bs-example-modal {
    background-color: #F5F5F5;
}
.bs-example-modal .modal {
    bottom: auto;
    display: block;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
    z-index: 1;
}
.bs-example-modal .modal-dialog {
    left: auto;
    margin-left: auto;
    margin-right: auto;
}
.bs-example > .dropdown > .dropdown-menu, .bs-example-submenu > .pull-left > .dropup > .dropdown-menu, .bs-example-submenu > .pull-left > .dropdown > .dropdown-menu {
    display: block;
    margin-bottom: 5px;
    position: static;
}
.bs-example-submenu {
    min-height: 230px;
}
.bs-example-submenu > .pull-left + .pull-left {
    margin-left: 20px;
}
.bs-example-tabs .nav-tabs {
    margin-bottom: 15px;
}
.bs-example-tooltips {
    text-align: center;
}
.bs-example-popover {
    background-color: #F9F9F9;
    padding-bottom: 24px;
}
.bs-example-popover .popover {
    display: block;
    float: left;
    margin: 20px;
    position: relative;
    width: 260px;
}
.bs-examples h4 {
    margin-bottom: 5px;
}
.bs-examples p {
    margin-bottom: 20px;
}
.bs-table-scrollable {
    border: 1px solid #DDDDDD;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
.bs-table-scrollable .table {
    border: 0 none;
    margin-bottom: 0;
}
.bs-table-scrollable .table th, .bs-table-scrollable .table td {
    white-space: nowrap;
}
.bs-table-scrollable .table th:first-child, .bs-table-scrollable .table td:first-child {
    border-left: 0 none;
}
.bs-table-scrollable .table th:last-child, .bs-table-scrollable .table td:last-child {
    border-right: 0 none;
}
.bs-table-scrollable .table tr:last-child th, .bs-table-scrollable .table tr:last-child td {
    border-bottom: 0 none;
}
.table code {
    font-size: 13px;
    font-weight: normal;
}
.bs-table th small, .responsive-utilities th small {
    color: #999999;
    display: block;
    font-weight: normal;
}
.responsive-utilities tbody th {
    font-weight: normal;
}
.responsive-utilities td {
    text-align: center;
}
.responsive-utilities td.is-visible {
    background-color: #DFF0D8 !important;
    color: #468847;
}
.responsive-utilities td.is-hidden {
    background-color: #F9F9F9 !important;
    color: #CCCCCC;
}
.responsive-utilities-test {
    list-style: none outside none;
    margin-top: 5px;
    overflow: hidden;
    padding-left: 0;
}
.responsive-utilities-test li {
    float: left;
    position: relative;
    width: 25%;
}
.responsive-utilities-test li + li {
    margin-left: 10px;
}
.responsive-utilities-test span {
    border-radius: 4px 4px 4px 4px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
    padding: 15px 10px;
    text-align: center;
}
.responsive-utilities-test.visible-on [class*="hidden"], .responsive-utilities-test.hidden-on [class*="visible"] {
    border: 1px solid #DDDDDD;
    color: #999999;
}
.responsive-utilities-test.visible-on [class*="visible"], .responsive-utilities-test.hidden-on [class*="hidden"] {
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
    color: #468847;
}
.bs-footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 100px;
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: center;
}
.bs-footer p {
    color: #777777;
    margin-bottom: 0;
}
.footer-links {
    margin: 10px 0;
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}
.bs-social {
    margin-bottom: 20px;
}
.bs-social-buttons {
    display: inline-block;
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
}
.bs-social-buttons li {
    display: inline-block;
    line-height: 1;
}
.bs-social-buttons li + li {
    margin-left: 15px;
}
.bs-social-buttons .twitter-follow-button {
    width: 225px !important;
}
.bs-social-buttons .twitter-share-button {
    width: 98px !important;
}
input.focused {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.scrollspy-example {
    height: 200px;
    margin-top: 10px;
    overflow: auto;
    position: relative;
}
.highlight {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}
.highlight pre {
    background-color: transparent;
    border: 0 none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    white-space: nowrap;
}
.highlight pre code {
    color: #333333;
    font-size: inherit;
}
.highlight pre .lineno {
    color: #BEBEC5;
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    text-align: right;
    width: 22px;
}
.bs-docs-dl-options h4 {
    margin-bottom: 5px;
    margin-top: 15px;
}
.highlight {
    display: none;
}
.bs-header {
    font-size: 21px;
    text-align: left;
}
.bs-header h1 {
    font-size: 60px;
    line-height: 1;
}
.bs-example {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}
.carbonad {
    border: 1px solid #E5E5E5 !important;
    border-radius: 4px 4px 4px 4px;
    margin: 0 !important;
}
.bs-sidebar {
    display: block;
}
.bs-sidebar .nav > .active > ul {
    display: block;
}
.bs-masthead {
    padding-bottom: 140px;
    padding-top: 140px;
}
.bs-masthead h1 {
    font-size: 100px;
}
.bs-masthead .lead {
    font-size: 30px;
    margin-left: 15%;
    margin-right: 15%;
}
.bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
}
.bs-sidebar.affix, .bs-sidebar.affix-bottom {
    width: 213px;
}
.bs-sidebar.affix {
    position: fixed;
    top: 80px;
}
.bs-sidebar.affix-bottom {
    position: absolute;
}
.bs-sidebar.affix-bottom .bs-sidenav, .bs-sidebar.affix .bs-sidenav {
    margin-bottom: 0;
    margin-top: 0;
}
.bs-header h1, .bs-header p {
    margin-right: 380px;
}
.carbonad {
    min-height: 132px;
    padding: 15px !important;
    position: absolute;
    right: 0;
    top: 20px;
    width: 330px !important;
}
.bs-sidebar.affix-bottom, .bs-sidebar.affix {
    width: 270px;
}