@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-form navbar-left pull-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="nav navbar-nav ">
            <a href="#" class="btn">&nbsp;</a>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "wh" })
            <a href="javascript:document.getElementById('logoutForm').submit()" class="wh">Log off</a>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav pull-right">
        <li class="active">
            @Html.ActionLink("Register", "Register", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "registerLink", @class = "" })
        </li>
        <li>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}